*{
    border: 0px;
    padding: 0px;
    margin: 0px;
}

section{
    padding: 6% 0% 6% 0%;
}

ul li a{
    text-decoration: none;
    color: #005452;
}

a:hover{
    color: #028785;
}


/*  Menú  */

.cabecera{
    padding-top: 3%;
    display: flex;
    background-color: #e4e4e5;
    align-items: center;
    justify-content: space-around;
    box-sizing: border-box;
    gap: 8%;
}

.cabecera__intro{
    width: 14%;
    display: flex;
    align-items: center;
    gap: 4%;
}

.cabecera__intro__titulo{
    color: #005452;
    font-size: 1rem;
}

.navegacion__lista{
    margin-left: -34%;
    font-size: 1rem;
    display: flex;
    background-color: #e4e4e5;
    box-sizing: border-box;
    width: 135%;
    gap: 5%;
}

ul{
    list-style: none;
    text-decoration: none;
}


/* Sección de Presentación */

.presentacion{
    background-color: #e4e4e5;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5%;
}

.presentacion__contenedor{
    width: 50%;
}

.presentacion__foto{
    width: 20%;
    height: 20%;
    border-radius: 300px;
}

.presentacion__titulo{
    color: #005452;
    font-size: 3.25rem;
}

.presentacion__subtitulo{
    color: #005452;
    margin: 2% 0% 2% 0%;
    font-size: 1.375rem;
}

.redes{
    margin-bottom: 6%;
    display: flex;
    gap: 70px;
}

/* Presentacion sobre Mi*/

.sobre-mi{
    width: 100%;
    background-color: #005452;
    display: flex;
    justify-content: center;
}

.sobre-mi__cuadro{
    width: 75%;
}

.sobre-mi__titulo{
    font-size: 2rem;
    justify-content: center;
    color: #e4e4e5;
}

.sobre-mi__texto{
    font-size: 1rem;
    color: #e4e4e5;
}

/*secion de habilidades*/

.habilidades{
    background-color: #e4e4e5;
    width: auto;/**/
    height: auto;/**/
    /*padding: 20px 0px 20px 0px;*/
    /*display: flex;
    flex-wrap: wrap;
    flex-direction: column;*/
}

.habilidades__titulo{
    color: #005452;
    padding-bottom: 32px;
    text-align: center;
}


.habilidades__lista{
    display: flex;
    justify-content: center;
    gap: 0.7%;
}

.habilidades__elemento{
    background-color: white;
    width: 12%;
    padding-bottom: 1%;
}

.habilidades__icono{
    padding: 55% 0% 0% 10%;
}

.habilidades__nombre{
    font-size: 1rem;
    padding-left: 10%;
}

/*secion de aficiones*/

.aficiones{
    background-color: #e4e4e5;
    width: auto;/**/
    height: auto;/**/
    /*padding: 20px 0px 20px 0px;*/
    /*display: flex;
    flex-wrap: wrap;
    flex-direction: column;*/
}

.aficiones__titulo{
    color: #005452;
    padding-bottom: 32px;
    text-align: center;
}

.aficiones__lista{
    display: flex;
    justify-content: center;
    gap: 0.7%;
}

.aficiones__elemento{
    background-color: white;
    width: 12%;
    padding-bottom: 1%;
}

.aficiones__icono{
    width: 15%;
    padding: 55% 0% 0% 5%;
}

.aficiones__nombre{
    font-size: 1rem;
    padding-left: 5%;
}

/*Sección de Formación académica*/

.formacion{
    background-color: #005452;
    display: flex;
    flex-direction: column;
}

.formacion__titulo{
    padding-bottom:  32px;
    color: #e4e4e5;
    text-align: center;
}

.formacion__lista{
    display: flex;
    justify-content: center;
    gap: 10px;
}

.formacion__elemento{
    width: 25%;/*368*/
    height: 23%;/*347*/
    background-color: #ffffff;
    font-size: 1rem;
    gap: 50px;
}

.formacion__icono{
    width: 50%;/*368*/
    height: 50%;/*347*/
    padding: 20% 25% 25% 25%;
}

.formacion__texto{
    padding: 15px 0px 22px 0px;
    background-color: #005452;
}

.formacion__nombre{
    font-size: 1.375rem;
    color: #e4e4e5;
}

.formacion__detalle{
    font-size: 1rem;
    color: #e4e4e5;
}

/*    Sección de Proyectos    */

.proyectos{
    background-color: #e4e4e5;
}

.proyectos__contenedor{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 3%;
    gap: 3%;
}

.proyectos__imagen{
    width: 60%;
    height: 30%;
}

.proyectos__titulo{
    color: #005452;
    padding-bottom: 32px;
    text-align: center;
}

.proyectos__nombre{
    color: #005452;
    font-size: 1.375rem;
}

.proyectos__descripcion{
    color: #005452;
    font-size: 1rem;
}

.proyectos__contenedor__botones{
    padding-top: 5%;
    display: flex;
    gap: 3%;
}

.proyecto__boton{
    width: 50%;
    height: 40px;
    background-color: #005452;
    color: #e4e4e5;
}

.proyecto__boton:hover{
    background-color: #7b7b7c;
    width: 53%;
    height: 43px;
    color: #005452;
}

/*    Sección de Contacto    */

.contacto{
    background-color: #005452;
    display: flex;
    gap: 16px;
    justify-content: center;
}

.contacto__imagen{
    width: 30%;
    height: 593px;
}

.contacto__titulo{
    color: #e4e4e5;
    font-size: 2rem;
    padding-top: 1.6%;
}

.contacto__texto{
    color: #e4e4e5;
    font-size: 1rem;
    padding: 5px 0px 24px 0px;
}

.contacto__cuadro{
    background-color: #005452;
    width: 40%;
    height: 593px;
}

.contacto__formulario{
    display: flex;
    flex-direction: column;
    gap: 32px;
    
}


.contacto__campo{
    width: 100%;
    height: 56px;
}

.contacto__campo--textarea{
    width: 100%;
    height: 133px;
    resize: none;
}

.contacto__boton{
    width: 25%;
    height: 51px;
    background-color: #e4e4e5;/*#028785*/
    color: #005452;
}

.contacto__boton:hover{
    background-color: #028785;
    color: #e4e4e5;
}

/* Pie de pagina */

.pie__pagina{
    background-color: #e4e4e5;
    color: #005452;
    text-align: center;
    padding: 1% 0% 1% 0%;
}

/*Responsive para table width max (768)*/

@media (max-width: 768px){



    .presentacion{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 2%;
    }

    .presentacion__contenedor{
        width: 68%;
    }

    .presentacion__titulo{
        font-size: 1.375rem;
    }

    .presentacion__subtitulo{
        font-size: 1rem;
    }

    .sobre-mi__cuadro{
        width: 90%;
    }

    .sobre-mi__titulo{
        font-size: 1.375rem;
    }

    .sobre-mi__texto{
        font-size: 0.875rem;
    }

    .habilidades__lista{
        flex-wrap: wrap;
        gap: 10px;
    }

    .habilidades__elemento{
        width: 29%;
        height: 118px;
    }

    .habilidades__icono{
        padding: 20% 0% 0% 5%;
    }

    .aficiones__lista{
        flex-wrap: wrap;
        gap: 10px;
        align-items: baseline;
    }

    .aficiones__elemento{
        width: 29%;
        height: 118px;
    }

    .aficiones__icono{
        padding: 20% 0% 0% 5%;
    }

    /*Sección de Formación académica*/


    .formacion{
        padding-bottom: 10%;
    }

    .formacion__elemento{
        width: 29%;/*368*/
        height: 118px;/*347*/
    }

    .formacion__icono{
        width: 50%;/*368*/
        height: 50%;/*347*/
        padding: 10% 25% 10% 25%;
    }

    .formacion__nombre{
        font-size: 1rem;
    }

    .formacion__detalle{
        font-size: 0.875rem;
    }

    .proyectos__contenedor{
        flex-direction: column;
    }

    .proyectos__imagen{
        width: 90%;
    }

    .proyectos__enlaces{
        width: 90%;
        padding-top: 1%;
        justify-content: flex-start;
    }

    .proyectos__nombre{
        font-size: 1rem;
    }
    
    .proyectos__descripcion{
        font-size: 0.875rem;
    }

    .proyectos__contenedor__botones{
        padding-top: 1%;
    }

    .proyecto__boton{
        width: 15%;
        height: 35px;
    }

    .figuras{
        flex-direction: column-reverse;
    }

    .contacto__imagen{
        display: none;
    }

    .contacto__cuadro{
        width: 90%;
    }

    .contacto__boton{
        width: 20%;
        height: 48px;
    }


}