*{
    border: 0px;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

section{
    padding: 6% 0% 6% 0%;
}

ul li a{
    text-decoration: none;
    color: #005452;
}

a:hover{
    color: #028785;
}

ul{
    list-style: none;
    text-decoration: none;
}


/*  Menú  */

.cabecera{
    width: 100%;
    padding-top: 1%;
    background-color: #e4e4e5;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cabecera__principal{
    width: 75%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5%;
}

.cabecera__intro{
    width: 30%;
    display: flex;
    align-items: center;
    gap: 4%;
}

.cabecera__intro__titulo{
    width: 100%;
    color: #005452;
    font-size: 1rem;
}

.navegacion{
    width: 70%;
}

.navegacion__lista{
    font-size: 1rem;
    background-color: #e4e4e5;
    display: flex;
    justify-content: space-between;
    gap: 3%; 
}

.navegacion__lista li:nth-child(6) {
    font-weight: bold;
}

/* Sección de Presentación */

.presentacion{
    background-color: #e4e4e5;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5%;
}

.presentacion__contenedor{
    width: 50%;
}

.presentacion__foto{
    width: 20%;
    height: 20%;
    border-radius: 300px;
}

.presentacion__titulo{
    color: #005452;
    font-size: 3.25rem;
}

.presentacion__subtitulo{
    color: #005452;
    margin: 2% 0% 2% 0%;
    font-size: 1.375rem;
}

.redes{
    margin-bottom: 6%;
    display: flex;
    gap: 10%;
}

/* Presentacion sobre Mi*/

.sobre-mi{
    width: 100%;
    background-color: #005452;
    display: flex;
    justify-content: center;
}

.sobre-mi__cuadro{
    width: 75%;
}

.sobre-mi__titulo{
    font-size: 2rem;
    justify-content: center;
    color: #e4e4e5;
}

.sobre-mi__texto{
    font-size: 1rem;
    color: #e4e4e5;
}

/*secion de habilidades*/

.habilidades{
    background-color: #e4e4e5;
    width: auto;
    height: auto;
}

.habilidades__titulo{
    color: #005452;
    padding-bottom: 32px;
    text-align: center;
}


.habilidades__lista{
    display: flex;
    justify-content: center;
    gap: 0.7%;
}

.habilidades__elemento{
    background-color: white;
    width: 12%;
    padding-bottom: 1%;
}

.habilidades__icono{
    padding: 55% 0% 0% 10%;
}

.habilidades__nombre{
    font-size: 1rem;
    padding-left: 10%;
}

/*secion de aficiones*/

.aficiones{
    background-color: #e4e4e5;
    width: auto;
    height: auto;
    padding-top: 0%;
}

.aficiones__titulo{
    color: #005452;
    padding-bottom: 32px;
    text-align: center;
}

.aficiones__lista{
    display: flex;
    justify-content: center;
    gap: 0.7%;
}

.aficiones__elemento{
    background-color: white;
    width: 12%;
    padding-bottom: 1%;
}

.aficiones__icono{
    width: 15%;
    padding: 55% 0% 0% 5%;
}

.aficiones__nombre{
    font-size: 1rem;
    padding-left: 5%;
}

/*Sección de Formación académica*/

.formacion{
    width: auto;
    height: auto;
    background-color: #005452;
    padding-bottom: 10%;
    display: flex;
    flex-direction: column;
}

.formacion__titulo{
    color: #e4e4e5;
    padding-bottom: 3%;
    text-align: center;
}

.formacion__lista{
    width: 75%;
    height: 286px;
    margin-left: 12.3%;
    display: flex;
    justify-content: center;
    gap: 0.7%;
}

.formacion__elemento{
    width: 368%;
    height: 96%;
    background-color: white;
    padding-bottom: 1%;
}

.formacion__icono{
    width: 50%;
    height: 50%;
    padding: 20% 25% 25% 25%;
}

.formacion__texto{
    width: auto;
    height: 20%;
    font-size: 1rem;
    background-color: #005452;
}

.formacion__nombre{
    font-size: 1.375rem;
    color: #e4e4e5;
}

.formacion__detalle{
    font-size: 1rem;
    color: #e4e4e5;
}

/*    Sección de Proyectos    */

.proyectos{
    background-color: #e4e4e5;
}

.proyectos__contenedor{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 3%;
    gap: 3%;
}

.proyectos__imagen{
    width: 60%;
    height: 30%;
}

.proyectos__titulo{
    color: #005452;
    padding-bottom: 32px;
    text-align: center;
}

.proyectos__nombre{
    color: #005452;
    font-size: 1.375rem;
}

.proyectos__descripcion{
    color: #005452;
    font-size: 1rem;
}

.proyectos__contenedor__botones{
    padding-top: 5%;
    display: flex;
    gap: 3%;
}

.proyecto__boton{
    width: 50%;
    height: 40px;
    background-color: #005452;
    color: #e4e4e5;
}

.proyecto__boton:hover{
    background-color: #7b7b7c;
    width: 53%;
    height: 43px;
    color: #005452;
}

/*    Sección de Contacto    */

.contacto{
    background-color: #005452;
    display: flex;
    gap: 5%;
    justify-content: center;
}

.contacto__imagen{
    width: 30%;
    height: 593px;
}

.contacto__titulo{
    color: #e4e4e5;
    font-size: 2rem;
    padding-top: 1.6%;
}

.contacto__texto{
    color: #e4e4e5;
    font-size: 1rem;
    padding: 5px 0px 24px 0px;
}

.contacto__cuadro{
    background-color: #005452;
    width: 40%;
    height: 593px;
}

.contacto__formulario{
    display: flex;
    flex-direction: column;
    gap: 32px;   
}

.contacto__campo{
    width: 100%;
    height: 56px;
}

.contacto__campo--textarea{
    width: 100%;
    height: 133px;
    resize: none;
}

.contacto__boton{
    width: 25%;
    height: 51px;
    background-color: #e4e4e5;
    color: #005452;
}

.contacto__boton:hover{
    background-color: #028785;
    color: #e4e4e5;
}

/* Pie de pagina */

.pie__pagina{
    font-size: 1rem;
    background-color: #e4e4e5;
    color: #005452;
    text-align: center;
    padding: 1% 0% 1% 0%;
}


/*Responsive para table width max (768)*/

@media (max-width: 768px){


    /* secion Menú  (768)*/


    .cabecera__principal{
        width: 90%;

    }

    .cabecera__intro{
        width: 200px;
    }

    .navegacion{
        width: 65px;
        height: 30px;
        margin-top: 3%;
    }

    .navegacion__lista{
        width: 100%;
        font-size: 1rem;
    }

    .navegacion__lista li {
        display: none;
    }

    .navegacion__lista li:nth-child(6) {
        display: list-item;
        font-weight: bold;
    }

    /* secion presentacion (768) */

    .presentacion{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 2%;
    }

    .presentacion__contenedor{
        width: 68%;
    }

    .presentacion__titulo{
        font-size: 1.375rem;
    }

    .presentacion__subtitulo{
        font-size: 1rem;
    }

    .redes{
        gap: 7%;
        justify-content: space-between;
    }

    /* secion sobre Mi (768)*/

    .sobre-mi__cuadro{
        width: 90%;
    }

    .sobre-mi__titulo{
        font-size: 1.375rem;
    }

    .sobre-mi__texto{
        font-size: 0.875rem;
    }

    /* secion de habilidades (768) */

    .habilidades__lista{
        flex-wrap: wrap;
        gap: 10px;
    }

    .habilidades__elemento{
        width: 29%;
        height: 118px;
    }

    .habilidades__icono{
        padding: 30% 0% 0% 5%;
    }

    .habilidades__nombre{
        padding-left: 5%;
    }

    /* secion de aficiones (768) */

    .aficiones__lista{
        flex-wrap: wrap;
        gap: 10px;
        align-items: baseline;
    }

    .aficiones__elemento{
        width: 29%;
        height: 118px;
    }

    .aficiones__icono{
        padding: 25% 0% 0% 5%;
    }

    /* Sección de Formación académica (768) */

    .formacion{
        padding-bottom: 10%;
    }

    .formacion__lista{
        width: 90%;
        height: 118px;
        margin-left: 5%;
        gap: 2%;
    }

    .formacion__elemento{
        width: 40%;
        height: 94.5%;
    }

    .formacion__icono{
        width: 50%;
        height: 50%;
        padding: 13% 25% 20% 25%;
    }

    .formacion__texto{
        background-color: transparent;
    }

    .formacion__nombre{
        font-size: 1rem;
    }

    .formacion__detalle{
        font-size: 0.875rem;
    }

    /* Sección de Proyectos  (768) */

    .proyectos__contenedor{
        flex-direction: column;
    }

    .proyectos__imagen{
        width: 90%;
    }

    .proyectos__enlaces{
        width: 90%;
        padding-top: 1%;
        justify-content: flex-start;
    }

    .proyectos__nombre{
        font-size: 1rem;
    }
    
    .proyectos__descripcion{
        font-size: 0.875rem;
    }

    .proyectos__contenedor__botones{
        padding-top: 1%;
    }

    .proyecto__boton{
        width: 15%;
        height: 35px;
    }

    .figuras{
        flex-direction: column-reverse;
    }

    /* Sección de Contacto (768) */

    .contacto__imagen{
        display: none;
    }

    .contacto__cuadro{
        width: 90%;
    }

    .contacto__boton{
        width: 20%;
        height: 48px;
    }

}


/*Responsive para table width max (360)*/


@media (max-width: 360px){


    /* Secion menu (360) */

    section{
        padding: 5% 0% 5% 0%;
    }

    .cabecera{
        padding-top: 5%;
    }

    .cabecera__principal{
        width: 94%;  
    }

    .cabecera__intro{
        width: 57%;
    }

    .navegacion{
        width: 62px;
        margin-top: 2%;
        align-items: center;
    }

    .navegacion__lista{
        width: 62px;
        margin-top: 5%;
    }

    .navegacion__lista li:nth-child(6) {
        display: list-item;
        font-weight: bold;
    }

    /* Secion presentacion (360) */

    .presentacion{
        flex-direction: column-reverse;
    }

    .presentacion__contenedor{
        width: 90%;
    }

    .presentacion__titulo{
        font-size: 1.375rem;
    }

    .presentacion__subtitulo{
        font-size: 0.875rem;
    }

    .redes{
        padding-top: 3%;
        gap: 7%;
    }

    .redes__img{
        font-size: 0.875rem;
    }

    .presentacion__foto{
        margin: 0% 70% 3% 0%;
    }

    /* secion de habilidades (360) */

    .habilidades__elemento{
        width: 45%;
        margin-bottom: 4%;
    }

    .habilidades__icono{
        padding-top: 35%;
    }

    .habilidades__nombre{
        padding-left: 5%;
    }

    /* secion de aficiones (360) */

    .aficiones__elemento{
        width: 45%;
        margin-bottom: 4%;
    }

    .aficiones__icono{
        padding-top: 35%;
    }

    .aficiones__nombre{
        padding-left: 5%;
    }

    /* sección de formación académica (360) */

    .formacion__lista{
        height: auto;
        flex-wrap: wrap;
    }

    .formacion__elemento{
        width: 95%;
        height: auto;
        margin-bottom: 15%;
    }

    .formacion__icono{
        margin-top: 5%;
    }

    .formacion__texto{
        background-color: #005452;
        padding-bottom: 5%;
        padding-top: 3%;
    }

    /* Sección de Proyectos  (360) */

    .proyectos{
        padding-bottom: 10%;
    }

    .proyecto__boton{
        width: 30%;
        font-size: 0.875rem;
        margin-top: 2%;
    }

    /* Sección de Contacto (360) */

    .contacto{
        padding-bottom: 7%;
    }

    .contacto__boton{
        width: 50%;
        margin-top: -3%;
    }



}